/*CSS - configurações gerais*/

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 19px;
    background: #F5F5F5;
    color: #464646;
    margin: 0 auto;
    line-height: 1.2em;
}

a{
    text-decoration: none;
    color: #000;
}

/*CSS - Pagina Principal*/

/* MENU */

.menu-principal .container{
    max-width: 1136px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 88px;
    padding: 32px 0;

}

.menu-principal .logomarca{
    display: flex;
    font-weight: bold;
    align-items: center;
    width: 25%;
}

.menu-principal .logo-svg{
    width: 22px;
    height: 22px;
    margin-right: 9px;

}

.menu-principal .menu-nav{
    display: flex;
}

.menu-nav .menu-nav-link{
    margin-left: 32px;
    font-weight: 500;
}

.menu-nav .menu-nav-link:last-child{
    font-weight: bold;
}

/* CONTEÚDO INTERNO */

.topo{
    display: flex;
    max-width: 1136px;
    width:100%;
    margin: 0 auto;
}

.topo .conteudo-topo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topo .links-nav{
    display: flex;
}

.links-nav .link{
    margin-right: 60px;
}

.links-nav .link::after{
    content: url(image/arrow-ico.svg);
    width: 16px;

}


.foto .foto-perfil{
    width: 368px;
    height: 368px;
    border-radius: 50%;

}

.conteudo-topo p{
    font-size: 22px;
    line-height: 1.2em;
    margin-bottom: 1em;
}

.conteudo-topo p:first-child{
    font-size: 52px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 24px;
}

/*------------------*/

.background-azul{
    background: #EAF2FD;
}

.sessao-sobre-mim .container{
    max-width: 1136px;
    width:100%;
    margin: 0 auto;
}

.sessao-sobre-mim .titulo{
    font-size: 32px;
    font-weight: bold;
    padding-top: 64px;
    margin-bottom: 16px;
}

.sessao-sobre-mim .conteudo{
    width: 75%;
    line-height: 1.2em;
    margin-bottom: 16px;
}

.sessao-sobre-mim .assinatura{
    margin-top:16px;
}

/*------------------*/

.skills-e-hobbies{
    background: #F5F5F5;
}

.skills-e-hobbies .container{
    display: flex;
    flex-direction: column;
    max-width: 1136px;
    width:100%;
    min-height: 244px;
    margin: 0 auto;
    padding-bottom: 56px;
    padding-top: 32px;
    justify-content: space-between;
    
}

.skills-e-hobbies .container .titulo{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
}

.skills-e-hobbies .itens{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.itens .item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #FFFFFF;
    height: 176px;
    width: 174px;
    margin: 8px;

}

.item .imagem{
    width: 30px;
    margin-bottom: 8px;
    margin-left: 16px;
}

.item .texto{
    margin: 0 16px 16px 16px;
    font-size: 16px;
    font-weight: bold;
}

/*------------------*/

.formacao-academica .container{
    max-width: 1136px;
    width:100%;
    margin: 0 auto;
}

.formacao-academica .titulo{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 82px;
    margin-bottom: 32px;
}

.formacao-academica .itens{
    display: flex;
    flex-wrap: wrap;
    
}

.formacao-academica .experiencia{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px;
}

.formacao-academica .experiencia:nth-child(3n + 1){

    margin: 8px 8px 8px 0;
}

.formacao-academica .experiencia:nth-child(3n){

    margin: 8px 0 8px 8px;
}

.formacao-academica .itens .item{
    width: 368px;
    height: 286px;
    align-items: center;
    justify-content: center;
    margin: 0 0 8px 0;
}

.formacao-academica .imagem {
    width: 60%;
}

.experiencia .curso{
    font-size: 22px;
    font-weight: bold;
    max-width: 368px;
    line-height: 1.2em;
}

.experiencia .ano{
    font-size: 16px;
    font-weight: medium;
}

.projetos .container .titulo{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
    padding-top: 32px;
}

.projetos .container{
    max-width: 1136px;
    width:100%;
    margin: 0 auto;
}
.projetos .projeto {
    display: flex;
    margin-bottom: 64px;
}

.projetos .projeto:nth-child(2n + 1) {
    flex-direction: row-reverse;
    justify-content: space-between;
}



.projeto .imagem {
    width: 70%;
    margin: 0 10px;
    order: 0;
}

.projetos .conteudo{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    justify-content: center;
}

.projeto .conteudo p{
    margin-bottom: 8px;
}

.projetos .conteudo p:first-child{
    font-size: 22px;
    font-weight: bold;
}

.botao {
    height: 51px;
    padding: 16px;
    margin-right: 16px;
}

.tipo1 {
    background-color: #F5F5F5;
    border-width: 1px;
    border-style: ridge;
    border-color: #2A7AE4;
    color:#2A7AE4;
    
}

.tipo2 {
    background: #2A7AE4;
    color: #FFFFFF;
    border: 0;
}


.contato .container {
    max-width: 1136px;
    display: flex;
    width: 100%;
    margin: 0 auto; 
    padding: 128px 0 64px 0;
    
}

.contato .imagem {
    width: 40%;
    margin-right: 16px;
}

.contato .formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.contato .formulario .titulo{
    font-size: 32px;
    font-weight: bold;
}

.contato .formulario .conteudo-titulo {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.contato .formulario .campo-flex {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    padding: 8px 12px;
    margin: 16px 0;
}

.contato .campo-flex .conteudo{
    font-size: 12px;
    color: #A2A2A2;
}

.contato .campo-flex .entrada-texto{
    border: none;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
}

.contato .campo-flex .entrada-texto ::-webkit-input-placeholder{
    color: #A2A2A2;
    font-weight: normal;
}

.campo-flex .campo-assunto{
    margin: 16px 0;
}

.campo-flex .campo-mensagem{
    height: 133px;
    font-size: 16px;
}